* {
    margin: 0;
    padding: 0;
}
.wrapper {
    text-align: center;
}
.input-output {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* .output textarea :focus {
    outline: none;
} */
.input {
    padding: 3px;
}
.button {
    margin-top: 10px;
}